[
    {:passengers 1, 
     :from :Vorobyevy-Gory, 
     :to :Spartak, 
     :time "15.30", 
     :cost 100,
     :messages []}
    {:passengers 1, 
     :from :Vorobyevy-Gory, 
     :to :Spartak, 
     :time "15.30", 
     :cost 100,
     :messages []}
    {:passengers 1, 
     :from :Vorobyevy-Gory, 
     :to :Spartak, 
     :time "15.30", 
     :cost 100,
     :messages []}
    {:passengers 1, 
     :from :Vorobyevy-Gory, 
     :to :Spartak, 
     :time "15.30", 
     :cost 100,
     :messages []}
    ]


